.dnd-column {
  background-color: gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 30%;
}
.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
