@use 'src/style/colors';
@import 'src/style/mixins.scss';

.menu-item {
  width: auto;
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
  color: colors.$black;
  // @include theme-switch(color, colors.$black, colors.$black);
}
